<!-- Input Templates -->
<ng-container *ngIf="input">

    <ng-container [ngSwitch]="i.type">

        <!-- Text -->
        <ng-container *ngSwitchCase="'text'">

            <div class="classic-input-label"><ng-container [ngTemplateOutlet]="templateDef?.labelDef?.template || defaultLabelTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></div>

            <input [name]="i.name" matInput type="text" [formControl]="input" [value]="input.value" class="classic-input">

            <ng-container *ngIf="(!input.invalid || !input.touched) && i.hint">
                <span class="classic-input-hint-label"><ng-container [ngTemplateOutlet]="templateDef?.hintLabelDef?.template || defaultHintTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

            <ng-container *ngIf="input.touched && input?.errors">
                <span class="classic-input-err-label"><ng-container [ngTemplateOutlet]="templateDef?.errLabelDef?.template || defaultErrorTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

        </ng-container>

        <!-- Password -->
        <ng-container *ngSwitchCase="'password'">

            <div class="classic-input-label"><ng-container [ngTemplateOutlet]="templateDef?.labelDef?.template || defaultLabelTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></div>

            <input [name]="i.name" matInput type="password" [formControl]="input" [value]="input.value" class="classic-input">

            <ng-container *ngIf="(!input.invalid || !input.touched) && i.hint">
                <span class="classic-input-hint-label"><ng-container [ngTemplateOutlet]="templateDef?.hintLabelDef?.template || defaultHintTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

            <ng-container *ngIf="input.touched && input?.errors">
                <span class="classic-input-err-label"><ng-container [ngTemplateOutlet]="templateDef?.errLabelDef?.template || defaultErrorTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

        </ng-container>

        <!-- Number -->
        <ng-container *ngSwitchCase="'number'">

            <div class="classic-input-label"><ng-container [ngTemplateOutlet]="templateDef?.labelDef?.template || defaultLabelTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></div>

            <input [name]="i.name" matInput type="number" [formControl]="input" [value]="input.value" class="classic-input" [min]="i.min" [max]="i.max">

            <ng-container *ngIf="(!input.invalid || !input.touched) && i.hint">
                <span class="classic-input-hint-label"><ng-container [ngTemplateOutlet]="templateDef?.hintLabelDef?.template || defaultHintTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

            <ng-container *ngIf="input.touched && input?.errors">
                <span class="classic-input-err-label"><ng-container [ngTemplateOutlet]="templateDef?.errLabelDef?.template || defaultErrorTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

        </ng-container>

        <!-- Select -->
        <ng-container *ngSwitchCase="'select'">

            <div class="classic-input-label"><ng-container [ngTemplateOutlet]="templateDef?.labelDef?.template || defaultLabelTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></div>

            <mat-select [formControl]="input" [value]="input.value" class="classic-input" [attr.name]="i.name">
                <mat-option disabled style="border-bottom: 1px solid rgba(0, 0, 0, 0.15);position: sticky;z-index: 1;top: 0;background-color: inherit;">
                    <input type="text" matInput #f (keyup)="handleFilterOption(f.value)" autocomplete="off" style="border: none;font-size: 1rem;width: 100%;" placeholder="Filter...">
                </mat-option>
                <mat-option *ngIf="!i.multiple && input.value && !i.disableReset" [value]="null"></mat-option>
                <mat-option *ngFor="let opt of i.options" [ngStyle]="{'display': opt.hidden ? 'none' : ''}" [value]="opt.value">{{ opt.label }}</mat-option>
            </mat-select>

            <ng-container *ngIf="(!input.invalid || !input.touched) && i.hint">
                <span class="classic-input-hint-label"><ng-container [ngTemplateOutlet]="templateDef?.hintLabelDef?.template || defaultHintTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

            <ng-container *ngIf="input.touched && input?.errors">
                <span class="classic-input-err-label"><ng-container [ngTemplateOutlet]="templateDef?.errLabelDef?.template || defaultErrorTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

        </ng-container>

        <!-- Textarea -->
        <ng-container *ngSwitchCase="'textarea'">

            <div class="classic-input-label"><ng-container [ngTemplateOutlet]="templateDef?.labelDef?.template || defaultLabelTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></div>

            <textarea [name]="i.name" matInput [formControl]="input" [value]="input.value" class="classic-input" rows="5"></textarea>

            <ng-container *ngIf="(!input.invalid || !input.touched) && i.hint">
                <span class="classic-input-hint-label"><ng-container [ngTemplateOutlet]="templateDef?.hintLabelDef?.template || defaultHintTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

            <ng-container *ngIf="input.touched && input?.errors">
                <span class="classic-input-err-label"><ng-container [ngTemplateOutlet]="templateDef?.errLabelDef?.template || defaultErrorTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

        </ng-container>

        <!-- Radio -->
        <ng-container *ngSwitchCase="'radio'">

            <div class="classic-input-label"><ng-container [ngTemplateOutlet]="templateDef?.labelDef?.template || defaultLabelTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></div>

            <mat-radio-group class="classic-input radio-input" [formControl]="input" [value]="input.value" [style.--min-width]="i.minWidth">
                <mat-radio-button *ngFor="let opt of i.options" color="primary" [value]="opt.value">{{ opt.label }}</mat-radio-button>
            </mat-radio-group>

            <ng-container *ngIf="(!input.invalid || !input.touched) && i.hint">
                <span class="classic-input-hint-label"><ng-container [ngTemplateOutlet]="templateDef?.hintLabelDef?.template || defaultHintTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

            <ng-container *ngIf="input.touched && input?.errors">
                <span class="classic-input-err-label"><ng-container [ngTemplateOutlet]="templateDef?.errLabelDef?.template || defaultErrorTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

        </ng-container>

        <!-- Checkbox -->
        <ng-container *ngSwitchCase="'checkbox'">

            <div class="classic-input-label"><ng-container [ngTemplateOutlet]="templateDef?.labelDef?.template || defaultLabelTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></div>

            <div class="classic-input checkbox-input" [style.--min-width]="i.minWidth">

                <mat-checkbox *ngFor="let opt of i.options" color="primary" [checked]="isChecked(opt)" (change)="handleCheckboxChange(opt.value, $event)">{{ opt.label }}</mat-checkbox>

            </div>

            <ng-container *ngIf="(!input.invalid || !input.touched) && i.hint">
                <span class="classic-input-hint-label"><ng-container [ngTemplateOutlet]="templateDef?.hintLabelDef?.template || defaultHintTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

            <ng-container *ngIf="input.touched && input?.errors">
                <span class="classic-input-err-label"><ng-container [ngTemplateOutlet]="templateDef?.errLabelDef?.template || defaultErrorTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

        </ng-container>

        <!-- File -->
        <ng-container *ngSwitchCase="'file'">

            <div class="classic-input-label"><ng-container [ngTemplateOutlet]="templateDef?.labelDef?.template || defaultLabelTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></div>

            <div class="classic-input file-input">
                <button mat-icon-button type="button" (click)="finput.click()"> <mat-icon>attach_file</mat-icon> </button>
                <input type="text" [formControl]="input" matInput [value]="input.value" readonly>
            </div>

            <input [name]="i.name" type="file" [multiple]="i.multiple" [accept]="i.accept" readonly style="display: none;" #finput (change)="handleFileSelect(i, finput.files)">

            <ng-container *ngIf="(!input.invalid || !input.touched) && i.hint">
                <span class="classic-input-hint-label"><ng-container [ngTemplateOutlet]="templateDef?.hintLabelDef?.template || defaultHintTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

            <ng-container *ngIf="input.touched && input?.errors">
                <span class="classic-input-err-label"><ng-container [ngTemplateOutlet]="templateDef?.errLabelDef?.template || defaultErrorTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

        </ng-container>

        <!-- Date Input -->
        <ng-container *ngSwitchCase="'date'">

            <div class="classic-input-label"><ng-container [ngTemplateOutlet]="templateDef?.labelDef?.template || defaultLabelTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></div>

            <div class="classic-input date-input">
                <input matInput readonly [matDatepicker]="picker" [formControl]="input" [min]="i.minDate" [max]="i.maxDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>

            <ng-container *ngIf="(!input.invalid || !input.touched) && i.hint">
                <span class="classic-input-hint-label"><ng-container [ngTemplateOutlet]="templateDef?.hintLabelDef?.template || defaultHintTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

            <ng-container *ngIf="input.touched && input?.errors">
                <span class="classic-input-err-label"><ng-container [ngTemplateOutlet]="templateDef?.errLabelDef?.template || defaultErrorTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

        </ng-container>

        <!-- Time Input -->
        <ng-container *ngSwitchCase="'time'">

            <div class="classic-input-label"><ng-container [ngTemplateOutlet]="templateDef?.labelDef?.template || defaultLabelTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></div>

            <div>

                <mat-select #hour (selectionChange)="handleTimeChange(hour.value, minute.value)" placeholder="Hour" class="classic-input" [attr.name]="i.name" style="width: 100px;" [value]="i.defaultValue?.hour">
                    <mat-option *ngFor="let opt of i.hourOptions" [value]="opt.value">{{ opt.label }}</mat-option>
                </mat-select>

                <span style="display: inline-block;margin: 0px 8px">:</span>

                <mat-select #minute (selectionChange)="handleTimeChange(hour.value, minute.value)" placeholder="Minute" class="classic-input" [attr.name]="i.name" style="width: 100px;" [value]="i.defaultValue?.minute">
                    <mat-option *ngFor="let opt of i.minuteOptions" [value]="opt.value">{{ opt.label }}</mat-option>
                </mat-select>

            </div>

            <ng-container *ngIf="(!input.invalid || !input.touched) && i.hint">
                <span class="classic-input-hint-label"><ng-container [ngTemplateOutlet]="templateDef?.hintLabelDef?.template || defaultHintTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

            <ng-container *ngIf="input.touched && input?.errors">
                <span class="classic-input-err-label"><ng-container [ngTemplateOutlet]="templateDef?.errLabelDef?.template || defaultErrorTemplate" [ngTemplateOutletContext]="TemplateVariables"></ng-container></span>
            </ng-container>

        </ng-container>

        <!-- Unknow Setting -->
        <ng-container *ngSwitchDefault>
            <div class="unknow-box">
                Unknow input type <b>【{{ i.type }}】</b>.
            </div>
        </ng-container>

    </ng-container>

</ng-container>

<ng-template #defaultLabelTemplate let-config="config">{{ config.label }}</ng-template>
<ng-template #defaultHintTemplate let-config="config">{{ config.hint }}</ng-template>
<ng-template #defaultErrorTemplate let-config="config">Has error</ng-template>
