:host.cfg-form {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.cfg-form-col {
    padding: 8px;
    flex-grow: 1;
    flex-shrink: 1;
}

@for $i from 1 through 12 {

    .cfg-form-col-#{$i} {
        box-sizing: border-box;
        padding: 8px;
        width: $i / 12 * 100%;
        flex: 1 0 auto;
        min-width: 160px;
    }

}

:host.mobile-style {

    flex-wrap: nowrap;
    flex-direction: column;

    > [class*="cfg-form-col-"] {

        &:first-child { border-top: unset; }

        padding: 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }

}
