<div style="display: flex;justify-content: center;padding: 2rem 0px;">
    <div style="border: 1px solid gray;padding: 1rem; border-radius: 0.5rem; width: 80vw;margin: 0 auto;">
        <h3>Form Example</h3>
        <div cfg-form [CfgForm]="form">
            <ng-container cfg-form-field="avatar">
                <ng-container *cfg-form-label="let config; let input = input;">
                    {{ config.label }} - 🤘 {{ input.invalid ? '⛔' : '' }}
                </ng-container>
                <ng-container *cfg-form-hint-label="let config; let input = input;">
                    🤘 {{ input.value ? '選得好👌' : '請選擇檔案' }}
                </ng-container>
                <ng-container *cfg-form-error-label="let config; let input = input;">
                    有錯誤喔 ⛔
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
<div style="display: flex;justify-content: center;padding: 2rem 0px;">
    <div style="border: 1px solid gray;padding: 1rem; border-radius: 0.5rem;display: inline-block;margin: 0 auto;max-width: 100%;overflow: auto;">
        <h3>Value</h3>
        <pre>{{ form.getValue() | json }}</pre>
    </div>
</div>

